
        .planos {
            gap: 25px;
            justify-content: center;
            margin: 40px 0;
            background-color: beige; padding:20px; border-radius:10px; flex-wrap:wrap;
        }
        .plano {
            border: 2px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            width: 300px;
            background-color: white; max-width:400px; min-height:auto;display:flex; flex-direction:column; justify-content:space-between;
        }
        .plano.destaque {
            border-color: #3498db;
            transform: scale(1.05);
            background-color: white; order: -1; 
        }
        .btn-plano {
            background: #2c3e50;
            color: white;
            padding: 12px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;}

*{
    background-color: #3498db;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.preco{
    background-color: white;
}
li{
    background-color: white;
}
ul{
    background-color: white;
}
h1{color: white;font-size:28px;}
h2{font-size:22px; text-align:center; color:white;}
 /* RESPONSIVO */
@media (max-width: 600px) {
.planos {
        margin:20px 0;
        padding:15px;
        width:100%;
        }
.plano.destaque {
         width:100%;
        font-size:14px;
        }
.plano{
        padding:15px, 10px;
        width:100%;
}
.btm-plano{
        padding:10px 20px;
        font-size:14px;
}
        }



