
        .planos {
            display: flex;
            gap: 20px;
            justify-content: center;
            margin: 40px 0;
            background-color: beige;
        }
        .plano {
            border: 2px solid #ddd;
            border-radius: 10px;
            padding: 30px;
            text-align: center;
            width: 300px;
            background-color: white;
        }
        .plano.destaque {
            border-color: #3498db;
            transform: scale(1.05);
            background-color: white;
        }
        .btn-plano {
            background: #2c3e50;
            color: white;
            padding: 12px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;}

*{
    background-color: #3498db;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.preco{
    background-color: white;
}
li{
    background-color: white;
}
ul{
    background-color: white;
}
h1{
    color: white;

} /* RESPONSIVO */
@media (max-width: 600px) {
.planos {
        width:100%;
        justify-content:space-between;
        gap:5px;
        align-items:column;
        }
.plano.destaque {
         width:100%;
        font-size:14px;
        }

.plano {
        width:100%;
        font-size:14px;
}
h2{
        font-size:15px;
} 
        }

